.container {
    display: filled;
    align-items: center;
    justify-content: center;
    background-image: url(../img/hobolive-bw.jpg),
                    linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0,0));
    background-position-x: center;
    background-position-y: center;
    padding: none;
    margin: none;
}

.arrange-vertically > * {
    display: block;
}
.members {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.banner{
    width: 100%;
    height: auto;
    background:rgba(0, 0, 0, 0);
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.bighead {
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
    background:rgba(0,0,0,0);
    width:auto;
    height:auto;
    /* background-color: rgba(0, 238, 255, 0.70); */
    /* color: rgb(0, 68, 73); */
}
.bigscroll{
    font-size: xx-large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 50%;
}

.tablecol {
    width: 33%;
    font-size: large;
}

.credits{
    font-size: smaller;
}

.memberlist{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
    padding: 4px;
    margin-bottom: 24px;
    border: 0px;
    background-color: rgba(88, 180, 255, 0.2);
    text-align: center;
    font-family: serif;
}
.icon {
    height: 48px;
    width: 48px;
}

@keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }